<div class="container">

    <div class="content-wrapper">
    
        <h1>Login Here</h1>

        <img src="assets/images/logo.png" alt="logo" class="avatar">
    
        <form class="login-form">
            <label for="usreName">Username</label>
            <input type="text" name="usreName" placeholder="Username">
    
            <label for="password">Password</label>
            <input type="password" name="usreName" placeholder="Password">
    
    
            <input type="submit" value="Log In">
            <button type="button" class="btn btn-success"value="Log In">Log </button>
    
        </form>

        <a href="/">Lost your password?</a>
        <br>
        <a href="/">Dont´t have an account</a>
    </div>
</div>