
<div class="layout mt-1">
    <!-- <div class="container d-flex align-items-center h-100"> -->
    <div class="container d-flex  h-100">
        <div class="col-lg-12">
            <div class="font-effect-neon ">
                <h1>
                    {{title}}
                    <!-- {{title | uppercase}} -->
                </h1>
            </div>
            <hr>
            <button class="btn btn-lg" type="button">
                <!-- <a [routerLink]="'/tarjeta'"> -->
                <!-- <a routerLink="/home"> -->
                    <i class="fa fa-location-arrow fa-2x"></i>
                <!-- </a> -->
            </button>
            <button class="btn btn-lg" type="button"
            (click)="enter()">                
                <!-- <a routerLink="/home"> -->
                    <i class="fa fa-renren fa-2x"></i>                
            </button>
            
        </div>
    </div>
</div>
