<div class="container-fluid bg-dark navbar-dark text-white">
    <div class=" d-flex justify-content-between">
        <div class="font-effect-neon ">
            <a routerLink="/admin">  
                <img alt="Mi Logo" src="assets/images/wikimedia.png" class="img-responsive" />
            {{title}}</a>            
        </div>
        <div>
                <a routerLink="/">
                  Half penguin
                </a>
        </div>
        <div class="d-flex flex-row-reverse bd-highlight">            
              <a class="nav-link active" href="#">Active link</a>
              <a class="nav-link" href="#">Link</a>
              <a class="nav-link" href="#"> link</a>            
        </div>
    </div>
</div>