<!-- Toolbar -->


<div class="comp-container">
  <div class="comp-toolbar" role="banner">
    <span style="padding-left: 2rem; "> <a routerLink="">Half penguin {{ title | uppercase}}</a> </span>
    <div style="margin-right: 2rem; ">
      <img alt="Angular Logo" src="assets/images/wikimedia.png" class="img-responsive" />
    </div>
  </div>

 <!--  <div class="comp-nav"></div> -->

  <!--   <app-navbar [unTitulo]="'On line shopping'"></app-navbar> -->

  <router-outlet></router-outlet>

  <div class="content" role="main">
    <p >
      <a href="https://angular.io/"> Love Angular?&nbsp;</a>
     
    <p>
  </div>

  <!--  <app-footer></app-footer> -->

</div>