<!-- Toolbar -->


<div class="comp-container">
  <div class="comp-toolbar" role="banner">
    <span style="padding-left: 2rem; ">
      <a routerLink="/">
        Half penguin {{ title | uppercase}}, <i>{{subTitle}}</i>
      </a>
    </span>
    <div class="mr-2">
      <img alt="Angular Logo" src="assets/images/wikimedia.png" class="img-responsive" />
    </div>
  </div>

  <router-outlet></router-outlet>

  <div class="content" role="main">
    <p>
      <a href="https://angular.io/" target="_blank"> Love Angular?&nbsp;</a>
    <p>
  </div>

</div>