<footer class="footer shadow p-2">
    <div class="footer_container text-center">
        <address>
            <p><b> Half Penguin </b></p>
            <p> Capurro City, Montevideo - Tel: 094872602 <br>
                <i class="fa fa-envelope" aria-hidden="true">
                    <a href="http://andrarias73@hotmail.es" target="blank"><span> andrarias@hotmail</span></a>
                </i>
                -
                <i class="fa fa-envelope" aria-hidden="true">
                    <a href="http://andrarias@gmail.com" target="blank"><span> andrarias@gmail</span></a>
                </i>
                <a class="nav-link" routerLink='/public/contact' routerLinkActive="true">
                    <span class="span">Contacta con nosotros</span>
                </a>
            </p>
        </address>
        <div class="footer_flex-container">
            <!-- <em>|</em> -->
            <div>
                <a href="http://faceboook.com/dorila.cosmeticos/" target="blank">
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div>
                <a href="https://twitter.com/home?lang=es" target="blank">
                    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div>
                <a href="http://instagram.com/andres_y_paulina" target="blank">
                    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <div>
                <a href="http://youtube.com" target="blank">
                    <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

    <p class="footer_developer"><i>Developed by: Oveja Negra</i></p>
</footer>