<div class="layout mt-1">
    <!-- <div class="container d-flex align-items-center h-100"> -->
    <div class="container d-flex  h-100">
        <div class="col-lg-12">
            <div class="font-effect-neon ">
                <h1>
                    {{title}}
                </h1>
            </div>
            <hr>
            <button class="btn btn-lg" type="button">
               <!--  <a [routerLink]="'/tarjeta'"> -->
                <!-- <a routerLink="/home"> -->
                    <i class="fa fa-location-arrow fa-2x"></i>
              <!--   </a> -->
            </button>
            <button class="btn btn-lg" type="button"
            (click)="enter()">                
                <!-- <a routerLink="/home"> -->
                    <i class="fa fa-joomla fa-2x"></i>
                
            </button>
            
        </div>
    </div>
</div>
<div class="content">

    <h1 class="logo">Contact <span>Us</span></h1>

    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
            <h3>Contact us  </h3> <a href="#serndi">"SERENDIPITY"</a>
            <form action="">
                <p>
                    <label>FullName</label>
                    <input type="text" name="fullname">
                </p>
                <p>
                    <label>Email Adress</label>
                    <input type="email" name="email">
                </p>
                <p>
                    <label>Phone Number</label>
                    <input type="tel" name="phone">
                </p>
                <p>
                    <label>Affair</label>
                    <input type="text" name="affair">
                </p>
                <p class="block">
                   <label>Message</label> 
                    <textarea name="message" rows="3"></textarea>
                </p>
                <p class="block">
                    <button>
                        Send
                    </button>
                </p>
            </form>
        </div>
		<div id="serndi">
			Descubtimiento, hallazgo afortunado,valioso e inesperado que se produce de manera accidental, 
			casual, o cuando esta buscando una cosa distinta.Pero que son la solucion para otro probelema distinto.
			Chiripa, carambola, cuerte, casualidad, coincidencia, accidente.
		</div>
        <div class="contact-info">
            <h4>More Info</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Baker Street</li>
                <li><i class="fas fa-phone"></i> (111) 111 111 111</li>
                <li><i class="fas fa-envelope-open-text"></i> contact@website.com</li>
            </ul>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident ipsam necessitatibus repellendus?</p>
            <p>Company.com</p>
        </div>
    </div>

</div>

