/* @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
 */
 /* ion-content{
    background: rgb(190, 247, 133);   
} */

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.total{
    /* display: flex; */
   flex-direction: row;
   flex-wrap: wrap;
   background-color: slategray;

   justify-content: center;
   align-items: center;
}
#prueba1{
    background-color: rgb(242, 255, 182);
    font-size: 30;
    color: grey;
    height:10vh;
    width: 33vw;   
   align-items: center;
   padding-left: 30px; 
}
#prueba2{
    background-color: lightpink;
    font-size: 40;
    color: grey;
    height:10vh;
    width: 33vw;   
   align-items: center;
   padding-left: 20px; 
}

#prueba3{
    background-color: rgb(182, 216, 255);
    font-size: 30;
    color: rgb(226, 13, 13);
    height:10vh;
    width: 33vw;   
   align-items: center;
   padding-left: 30px; 
}
.flex-container{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    color:  rgb(243, 7, 7);
  /*   background: rgb(241, 184, 239); */
    width: 100%; 
   /*  max-width: 800px; */
    height: 100%;
    max-height: 80%;
     padding: 50px 0px 20px 0; 
   /* text-align: center; */ 
   /* saco para usar flex-box */

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

   justify-content: center;
   align-items: center;

   background-color: yellowgreen;
}

 h1{    
   color:  rgb(18, 8, 117);
    font-size: 35px;    
    margin: 0px;
 }
.contenido p{margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color:  rgb(18, 8, 117);
    font-size: 35px;
     width: 70%;
}
.imgCntenedor{
    border: 2px solid rgb(0, 8, 2);
    color: rgb(241, 219, 21); 
    text-align: center;
    width: 100%;
    height: 100px;      
}
img{
    max-width: 80%;
   width: 180px;
}
.imagen{
    width: 100px;
    margin: 50px 0;    
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 20px;
}
 
.slider {
    width: 100%;
    height: 100%;
}