
    <div class="total">
        <div class="flex-container">
            <p><strong>Lo sentimos, no encontramos su página!</strong></p>
        </div>
        <div class="flex-container mt-2" >
            <img src="assets/imagenes/error-robot.png" alt="">
        </div>

        <pre style="background-color: navy; color: oldlace;">
            <p style=" text-align: center;"><strong>{{errorMessage}}</strong></p>
        </pre>
        <div class="row" style="background-color: sienna; align-items: center;">
            <div class="col-xs-12 col-sm-4" id="prueba1" style="border: 2px dotted orange;">
        
                <p><strong>{{errorMessage}} 1!!!!</strong></p>
            </div>
            <div class="col-xs-12 col-sm-4" id="prueba2" style="border: 2px dotted rgb(0, 255, 98);">
                <p><strong>{{errorMessage}} 2!!!!</strong></p>
            </div>
            <div class="col-xs-12 col-sm-4" id="prueba3" style="border: 2px dotted rgb(0, 255, 98);">
                <p><strong>{{errorMessage}} 3!!!!</strong></p>
            </div>
        </div>
       
    </div>
