/* ===============Colores para Admin============================= */

/* $admin-primary-color:#2a426e !important; */
$admin-primary-color:gainsboro !important;
$admin-secondary-color:#0d6efd !important;
$admin-tertiary-color:#1d9d74 !important;

/* ====================Colores para  publico tienda======================== */

/* ==================Colores para Comunes========================== */

/* ============================================ */